/* --------------- HR NAV ---------------- */

.hr-nav {
  display: flex;
  gap: 90px;
  padding: 14px 40px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.hr-nav .hr-nav-link {
  font-size: 14px;
  color: #777;
  text-decoration: none;
  padding-bottom: 6px;
}

.hr-nav .hr-nav-link.active {
  color: #2aa8ad;
  border-bottom: 2px solid #2aa8ad;
}

/* ---------------- HR HOME ---------------- */

.hr-home {
  padding: 24px;
  background: #fff;
}

/* TOP BAR */
.hr-home .hr-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hr-home .period-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hr-home .primary-btn {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #2aa8ad;
  color: #fff;
  cursor: pointer;
}

/* DROPDOWN (SCOPED) */
.hr-home .dropdown {
  position: relative;
}

.hr-home .dropdown-btn {
  height: 38px;
  padding: 0 34px 0 14px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
}

.hr-home .dropdown-menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 160px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  padding: 6px 0;
  z-index: 50;
}

.hr-home .dropdown-menu p {
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 13px;
}

.hr-home .dropdown-menu p:hover {
  background: #f3f3f3;
}

/* STATS GRID */
.hr-home .hr-stats {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 16px;
  margin-bottom: 28px;
}

/* LEFT STAT CARDS */
.hr-home .stats-left {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 14px;
}

.hr-home .stat-card {
  height: 110px;
  width: 400px;

  padding: 16px 18px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hr-home .stat-card p {
  font-size: 14px;
  color: #555;
  margin: 0;
  text-align: left;
}

.hr-home .stat-card h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  align-self: flex-end;
}

/* COLORS (SCOPED) */
.hr-home .gray {
  background: #f3f3f3;
}

.hr-home .red {
  background: #fde8e8;
}

.hr-home .yellow {
  background: #fff1d6;
}

.hr-home .blue {
  background: #e6f3f4;
}

/* RIGHT CHART CARD */
.hr-home .stats-right {
  height: 250px;
  padding: 16px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}

.hr-home .stats-right h4 {
  margin: 0 0 10px 0;
  font-size: 15px;
}

.hr-home .stats-right img {
  width: 100%;
  max-width: 260px;
  margin: auto;
}

/* TABLE (SCOPED) */
.hr-home .recent h3 {
  margin-bottom: 15px;
}

.hr-home table {
  width: 100%;
  border-collapse: collapse;
}

.hr-home th,
.hr-home td {
  padding: 20px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.hr-home thead {
  background: #f7f7f7;
}

