.loader-wrapper {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 1s ease forwards;
  animation-delay: 5s;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

/* LOGO */
.brand-logo {
  width: 200px;
  height: auto;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1.2s ease forwards;
}

/* TEXT */
.brand-name {
  font-size: 62px;
  font-weight: 700;
  color: #0f172a;
  letter-spacing: 1px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 3s ease forwards;
  animation-delay: 0.4s;
  margin-left: -40px;
  /* margin-top: ; */
}

/* Smooth entrance */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Subtle professional pulse */
.brand-container {
  animation: subtlePulse 2.4s ease-in-out 1.5s 2;
}

@keyframes subtlePulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

/* Fade out */
@keyframes loaderFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}



/* ========================
   LOADER RESPONSIVE
======================== */

/* Tablet */
@media (max-width: 1024px) {
  .brand-logo {
    width: 50px;
  }

  .brand-name {
    font-size: 34px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .loader-wrapper {
    padding: 0 20px;
  }

  .brand-container {
    flex-direction: column;
    /* gap: 10px; */
    text-align: center;
  }

  .brand-logo {
    width: 150px;
  }

  .brand-name {
    font-size: 28px;
    letter-spacing: 0.5px;
    margin-top: -10px;
  }
}

